<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloudpioneer.dataGushi.mapper.WeChatDataEntityMapper" >


    <insert id="insert">
        INSERT INTO wechatdata (userId,accountId,categoryId,categoryType,groupName,headPicture,wxName,lastUpdateTime,payTime,expireTime,
                                wxid,username,openid,wxBiz,rank,articlesNum,totalReadNum,totalLikeNum,avgReadNum,
                                avgLikeNum,qualityNum,influenceNum,activeNum,totalOriginalNum,avgHeadlineNum,confirm,tag,price,latestDate,deleteFlag,detail,account)
                                 VALUES
                              (#{userId},#{accountId},#{categoryId},#{categoryType},#{groupName},#{headPicture},#{wxName},#{lastUpdateTime},#{payTime},#{expireTime},
                                #{wxid},#{username},#{openid},#{wxBiz},#{rank},#{articlesNum},#{totalReadNum},#{totalLikeNum},#{avgReadNum},
                                #{avgLikeNum},#{qualityNum},#{influenceNum},#{activeNum},#{totalOriginalNum},#{avgHeadlineNum},#{confirm},#{tag},#{price},#{latestDate},#{deleteFlag},#{detail},#{account})
    </insert>

    <select id="countAll" resultType="integer">
        select count(*) from wechatdata WHERE  deleteflag=1
    </select>

    <select id="findIimitPage" parameterType="integer" resultType="WeChatDataEntity">
        select headPicture,wxid,wxName,wxBiz,articlesNum,totalOriginalNum,totalReadNum,totalLikeNum,avgReadNum,avgLikeNum,avgHeadlineNum,qualityNum,influenceNum,latestDate from wechatdata
        where deleteflag=1 and YEAR(latestDate)=#{year} and MONTH(latestDate)=#{month} ORDER  BY influenceNum DESC limit #{start},#{pageSize}
    </select>

    <select id="findByCategoryId" resultType="WeChatDataEntity">
        select headPicture,wxid,wxName,articlesNum,totalOriginalNum,totalReadNum,totalLikeNum,avgReadNum,avgLikeNum,avgHeadlineNum,qualityNum,influenceNum,latestDate from wechatdata
        where categoryId=#{categoryId} and deleteflag=1 and YEAR(latestDate)=#{year} and MONTH(latestDate)=#{month} ORDER BY  influenceNum DESC limit #{start},#{pageSize}
    </select>

    <select id="countByCategory" resultType="integer">
        select count(*) from wechatdata where categoryId=#{categoryId} and deleteflag=1
    </select>

    <delete id="deleteAll">
        DELETE FROM wechatdata
    </delete>

    <update id="updateDate">
        update wechatdata set deleteflag=0 where deleteflag=1 and latestDate between #{beforeDate} and #{currentDate} AND account =#{username}
    </update>

    <select id="findWeChatDataEntity" resultType="WeChatDataEntity">
        SELECT headPicture,wxid,wxBiz,wxName,articlesNum,totalOriginalNum,totalReadNum,totalLikeNum,avgReadNum,avgLikeNum,avgHeadlineNum,qualityNum,influenceNum,latestDate, detail FROM wechatdata WHERE  deleteflag=1 and YEAR(latestDate)=#{year} and MONTH(latestDate)=#{month} AND wxBiz = #{wxBiz} limit 0,1
    </select>

    <select id="findAll" resultType="WeChatDataEntity">
        SELECT headPicture,wxid,wxBiz,wxName,articlesNum,totalOriginalNum,totalReadNum,totalLikeNum,avgReadNum,avgLikeNum,avgHeadlineNum,qualityNum,influenceNum,latestDate,detail FROM wechatdata
        WHERE deleteflag=1 AND YEAR(latestDate)=#{year} AND MONTH(latestDate)=#{month}

    </select>
</mapper>