<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloudpioneer.dataGushi.mapper.WeChatDataEntityMapper" >


    <insert id="insert">
        INSERT INTO wechatdata (userId,accountId,categoryId,categoryType,groupName,headPicture,wxName,lastUpdateTime,payTime,expireTime,
                                wxid,username,openid,wxBiz,rank,articlesNum,totalReadNum,totalLikeNum,avgReadNum,
                                avgLikeNum,qualityNum,influenceNum,activeNum,totalOriginalNum,avgHeadlineNum,confirm,tag,price)
                                 VALUES
                              (#{userId},#{accountId},#{categoryId},#{categoryType},#{groupName},#{headPicture},#{wxName},#{lastUpdateTime},#{payTime},#{expireTime},
                                #{wxid},#{username},#{openid},#{wxBiz},#{rank},#{articlesNum},#{totalReadNum},#{totalLikeNum},#{avgReadNum},
                                #{avgLikeNum},#{qualityNum},#{influenceNum},#{activeNum},#{totalOriginalNum},#{avgHeadlineNum},#{confirm},#{tag},#{price})
    </insert>

    <select id="countAll" resultType="integer">
        select count(*) from wechatdata
    </select>

    <select id="findIimitPage" parameterType="integer" resultType="WeChatDataEntity">
        select headPicture,wxName,articlesNum,totalOriginalNum,totalReadNum,totalLikeNum,avgReadNum,avgLikeNum,avgHeadlineNum,qualityNum,influenceNum from wechatdata   ORDER  BY influenceNum DESC limit #{start},#{pageSize}
    </select>

    <select id="findByCategoryId" resultType="WeChatDataEntity">
        select headPicture,wxName,articlesNum,totalOriginalNum,totalReadNum,totalLikeNum,avgReadNum,avgLikeNum,avgHeadlineNum,qualityNum,influenceNum from wechatdata where categoryId=#{categoryId} ORDER BY  influenceNum DESC limit #{start},#{pageSize}
    </select>

    <select id="countByCategory" resultType="integer">
        select count(*) from wechatdata where categoryId=#{categoryId}
    </select>

</mapper>