<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloudpioneer.dataGushi.mapper.WeiboDataEntityMapper" >
    <insert id="insert">
        INSERT INTO weibo(uid,nickName,head,followCount,rateActivity,interactNum,newFllowCount,qualityIndex,influence,categoryId) VALUES
        (#{uid},#{nickName},#{head},#{followCount},#{rateActivity},#{interactNum},#{newFllowCount},#{qualityIndex},#{influence},#{categoryId})
    </insert>

    <select id="findPageByCategory" resultType="WeiboDataEntity">
    SELECT uid,nickName,head,followCount,rateActivity,interactNum,newFllowCount,qualityIndex,influence,categoryId FROM weibo WHERE  categoryId=#{categoryId} ORDER BY interactNum DESC LIMIT #{start},#{limit}
    </select>

    <select id="countAll" resultType="integer">
        SELECT COUNT(*) FROM  weibo
    </select>

    <select id="countByCategoryId" resultType="integer">
        SELECT COUNT(*) FROM weibo WHERE categoryId=#{categoryId}
    </select>


    <select id="findPageByAll" resultType="WeiboDataEntity">
          SELECT uid,nickName,head,followCount,rateActivity,interactNum,newFllowCount,qualityIndex,influence,categoryId FROM  weibo  ORDER BY interactNum DESC LIMIT #{start},#{limit}
    </select>
</mapper>